.banner-content {
    flex-direction: row;
    justify-content: flex-start;
}

.banner-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-title {
    font-family: var(--font-titles);
    font-size: 3.5rem;
    font-weight: 800;
}

.banner-subtitle {
    max-width: 700px;
    font-family: var(--font-subtitles);
    font-size: var(--size-subtitles);
    font-weight: 300;
    margin: 0.5rem 0 2rem 0;
}