.banner-container, .banner-content {
    padding: 0;
}

.banner-content {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    flex-direction: row;
    justify-content: flex-start;
}

.banner-text {
    width: 50%;
    height: 100vh;
    padding: 20px;
    padding-left: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    background: #181818;
}

.banner-title {
    font-family: var(--font-titles);
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}

.banner-button {
    margin: 2rem 0;
}